.map_container {
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 2rem;
    border: 10px solid white;
    box-shadow: 0 0 10px white;
    position: relative;
}

.map {
    height: 100%;
    width: 100%;
    z-index: 1;
}

.geo_btn {
    /* place the button in absolute position in the top right corner of the map */
    position: relative;
    top: 0rem;
    right: 1rem;
    background-color: #242424;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;

}