
.sidebar {
    height: 85vh;
    width: 30%;
    background-color: #f68b8b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    /* apply border radius only to left side */
    border-radius: 10px 0px 0px 10px;
}